<p>Scenes</p>

<!-- The date is 3/4/2021. 10:21 PM. chezy had a brilliant foken idea, aight? 
    Allow the user to upload .html files to use as scenes.
    I know what you're thinking: HOLY SHIT CHEZ! that's mfin brilliant.
    Anyways, i'll probably think of a solution to implement it later,
    and by later I mean by December 2022. -->